body {
  font-family : "Raleway", sans-serif;

}

#headerWrapper
{
  border-top       : solid 2px #494e8e;
  border-bottom    : solid 2px #494e8e;
}

#headerWrapper header

{
  font-size: 23px;
  padding: 1em;
  min-height: 4em;
  margin: auto;

}
.navbar-brand {
  font-size: 100% !important;
}

.btn {
    font-size: 100%;
}


.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-content {
  
  flex: 1;
  align-items: center;
  justify-content: center;
  padding-top: 5em;
  padding-bottom: 5em;
}



h1 {
    text-align: center;
    
    padding-bottom: 1em;
}


.card {
    margin: 1em;
}

.text-subtitle {
  color: #777777;
}


footer
{
  background-color: #6e56a7;
  color: #fafafa;
  padding: 2em;
  font-family: 'Open Sans', sans-serif !important;
  margin-top: 6em;
}

footer .column
{
  display         : flex;
  justify-content : center;
  align-content   : center;
}

footer p
{
  margin-bottom : 0;

}

footer .icons
{
  display: flex;
  align-self: center;
}


footer a:link
{
  color : #b8e5f7;
}

footer a:visited
{
  color : #ddddec;
}

footer a:active{
  color: plum;
}

footer a:hover
{
  opacity : 0.5;
}


@media only screen and (max-width: 992px) {
  
  footer .icons
  {
    flex-direction : column;
  }

.site-content, .h5, .card-body {
    font-size: 80% !important;
  }

  footer{
    font-size: 90% ;
  }

}


  @media only screen and (max-width: 600px) {
  
   .navbar-brand, .btn {
      font-size: 90% !important;
    }
  

}