body{
  
  font-size: 23px;

}


#headerWrapper{
  border-top       : solid 2px #494e8e;
  border-bottom    : solid 2px #494e8e;
}

#headerWrapper header{
    font-family : "Raleway", sans-serif;
  padding: 1em;
  min-height: 4em;
  margin: auto;
    font-size: 23px;

}
.navbar-brand {
  font-size: 100% !important;
}

.btn {
    font-size: 100%;
}

main {

  padding-top: 5em;
  padding-bottom: 5em;
  font-family: "Open Sans", sans-serif;
}

h1 {
    text-align: center;
    padding-bottom: 1em;
}


.site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  
.container {
    max-width: 90%;
    flex: 1;
}


footer
{
  background-color: #6e56a7;
  color: #fafafa;
  padding: 2em;
  font-family: "open sans", sans-serif;
  font-size: 23px;
}

footer .column
{
  display         : flex;
  justify-content : center;
  align-content   : center;
}

footer p
{
  margin-bottom : 0;
}

footer .icons
{
  display: flex;
  align-self: center;
}


footer a:link
{
  color : #b8e5f7;
}

footer a:visited
{
  color : #ddddec;
}

footer a:active{
  color: plum;
}

footer a:hover
{
  opacity : 0.5;
}


@media only screen and (max-width: 992px) {
  
  .center {
      margin: auto;
  }

  img {
      padding-bottom: 3em;
  }

  footer .icons
  {
    flex-direction : column;
  }

}

@media only screen and (max-width: 600px) {
  
  html, p, .navbar-brand, .btn, footer {
    font-size: 90% !important;
  }


}